<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Mountain Tourist</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="navi">
                <% if(user) { %>
                    <li class="item">Welcome <%= user.nickname.charAt(0).toUpperCase() + user.nickname.slice(1) %></li>
                <% } %>
                <li class="item">Home</li>
                <% if(!isAuthenticated) { %>
                <li class="item"><a href="/login/">Login</a></li>
                <% } else { %>
                <li class="item"><a href="/logout/">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    <hr>
        <div class="ish">
            <h1>Plan Your journey using Our AI </h1>
            <div class="sam2">
                <input class ="sam "  type="date" name="dani" id="dani" value="2021-06-27">
            </div>
            
            
            <h1 >Enter your Destination</h1>
            <div>

                <input   class="sam" type="search" name="searchy" id="searchy" >
            </div>
        </div>
   
        
</body>

</html>
